section h2 {
  line-height: 1.4 !important;
  font-weight: 200 !important;
  font-size: 72px;
  /* background: -webkit-linear-gradient(
    rgb(0, 0, 0),
    rgba(255, 255, 255, 0.321)
  ); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}
