@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Pathway+Extreme:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Inter', sans-serif; */
}

p,
a,
li,
span,
input,
textarea,
button {
  /* font-family: 'Inter', sans-serif; */
}

.ytp-pause-overlay-container {
  display: none !important;
}
.ytp-pause-overlay {
  display: none !important;
}

.marquee span {
  display: inline-block;
  animation: marquee 20s linear infinite;
  width: 100%;
  white-space: nowrap;
}

.marquee:hover span {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

body {
  overflow-x: hidden;
}

:root {
  --scroll-thumb: #7c7c7c;
  --scroll-thumb-hover: rgb(103, 101, 101);
  --scroll-track: #bdbdbd;
}

[data-theme="dark"] {
  --scroll-thumb: #908f8f;
  --scroll-thumb-hover: #c8c7c7;
  --scroll-track: #4b4b4b;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover);
}

html.dark ::-webkit-scrollbar {
  width: 9px;
}

html.dark ::-webkit-scrollbar-track {
  background: #4b4b4b;
}

html.dark ::-webkit-scrollbar-thumb {
  background: #908f8f;
  border-radius: 25px;
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background: #c8c7c7;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
