@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Archivo", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Urbanist', sans-serif;
}

p, a, li, span, input, textarea, button {
  font-family: 'Inter', sans-serif;
}

.ytp-pause-overlay-container {
  display: none !important;
}
.ytp-pause-overlay{
  display: none !important;
}

.marquee span {
  display: inline-block;
  animation: marquee 20s linear infinite;
  width: 100%;
  white-space: nowrap;
}

.marquee:hover span {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

::-webkit-scrollbar {
  display: none;
}

.html5-video-player{
  background-color: #fff;
}

iframe{
  background-color: #fff;
}

.pad{
  @media only screen and (max-width: 1240px){
    flex-direction: column;
  }
  
}

.card{
  transition: transform 0.3s;
}

.card:hover{
  transform: scale(1.1);
  /* z-index: 10; */

margin-left: 15px;
margin-right: 15px; 
}

.button{
  padding: 11px;
  width: 159px;
  padding: 12px;

}
.button:hover{
  color: white;
  background-color: black;
}

.button:hover span{
  background-color: white;
  color: black;
  animation-name: arr;
  animation-duration: 0.5s;
}

@keyframes arr{
    from{
      right: 195px;
    }

    to{
      right: 88px;
    }
}
.arr{
  position: absolute;
  right: 85px;
}